html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center {
  margin-top: 10%;
}

.positioned {
  position: fixed;
  margin-top: 10em;
  margin-left: 35%;
}

.padd {
  padding: 5em;
}

.smallpadd {
  padding: 1em;
}

.leftmarg{
  margin-left: 3em;
}

.leftmarg2{
  margin-left: 3.5em;
}

.leftmarg-1{
  margin-left: 1.15em;
}

.kinda_positioned{
  position: fixed;
  margin-top: 10em;
  margin-left: 25%;
}

